<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coverteam.pta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PTA APP"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.created_users.detail_user.DetailUsersActivity"
            android:exported="true" />
        <activity
            android:name=".views.validasi.atasan.ValidasiByAtasanView"
            android:exported="true" />
        <activity
            android:name=".views.from_cuti.CalenderPicker"
            android:exported="true" />
        <activity
            android:name=".views.created_users.UsersListActivity"
            android:exported="true" />
        <activity
            android:name=".views.created_users.UsersCreateActivity"
            android:exported="true" />
        <activity android:name=".l_agenda" />
        <activity android:name=".views.validasi.admin.ValidasiByAdminView" />
        <activity android:name=".views.validasi.admin.DetailValidasiByAdminView" />
        <activity android:name=".views.riwayat_cuti.RiwayatCutiView" />
        <activity android:name=".h_panduan" />
        <activity android:name=".views.riwayat_cuti.DetailPengajuanView" />
        <activity android:name=".f_profil" />
        <activity android:name=".views.from_cuti.FromCutiView" />
        <activity android:name=".d_menuUtama" />
        <activity android:name=".c_login" />
        <activity android:name=".b_started" />
        <activity android:name=".ASplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".printer.PdfViewerExampleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PDFTheme.TransparentStatusBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>